*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100%;
    padding: 50px 100px 50px 100px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
/* .container{
    background-color: #ada3a3;
} */

.Navbar{
    padding-top: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.nav-div{
    flex-grow: 1;
    padding-left: 65px;
}
.nav_1{
    display: flex;
}
.nav-ul{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    font-weight: 500;
    font-size: normal;
}
/* .nav_1 div img{
 height: 51px;
 width: 160px;
} */
.button{
    background-color: #5537cb;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    width: 130px;
    height: 40px;
}
.button:hover{
    background-color: #c6b5e9;
    border-radius: 10px;
    border: none;
    color: #000000;
    width: 130px;
    height: 40px;
}
.section_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: #5537cb;
}
h1{
    color: #17055c;
    font-size: 47px;
    font-weight: 800;
}
div p{
    color: #6f7269;
   
}

.section_right{
    width: 50%;
}
.section_right img{
    width: 500px;
}
.section_left{
    width: 50%;
}
.container2{
    padding-top: 20px;
    margin-top: 40px;
}
.button_space{
    padding-top: 40px;
}